{% extends 'base.html' %}

{% block content %}

    <div>
        <h1 class="text-4xl text-success mb-4">Contact Manager</h1>
        <button class="btn btn-primary mb-4"
                onclick="contact_modal.showModal()"
        on-hx:contact-create-error="this.reset()">Add New Contact
        </button>

        {% include 'partials/add-contact-modal.html' %}

        <label class="input input-bordered flex item-center gap-2 mb-2">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        fill="none"
                        stroke="currentColor"
                >
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" required placeholder="Search" name="search"
                   hx-get="{% url 'search' %}"
                   hx-trigger="keyup delay: 750ms"
                   hx-target="#contact-list"
                   hx-indicator="#spinner"
                   hx-on:before-request="document.getElementById('contact-list').style.opacity = 0.4;"
                   hx-on:after-request="document.getElementById('contact-list').style.opacity = 1.0;"
            />
            {% include 'partials/spinner.html' %}
        </label>
        {% include 'partials/contact-list.html' %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.body.addEventListener('contact-create-error', () => {
                document.getElementById('contact_modal').showModal();
            });
        });
    </script>
{% endblock %}